<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113034349-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113034349-1');
  </script>

  <title>Ed Walker - York Based Full Stack Web Developer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <meta name="keywords" content="Full Stack Web Developer, Web Developer, York, Yorkshire, Web Design, Websites">
  <meta name="description" content="Ed Walker - full stack web developer based in York. I'm passionate about producing professional, fully responsive, fast and attractive websites for clients">
  <link rel='stylesheet' type='text/css' href="bootstrap4/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <!-- developer icons -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato|Mukta+Malar" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <!-- vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <!-- vue.js development version, includes helpful console warnings
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

</head>
<body data-spy="scroll" data-target="#main-nav" data-offset="75">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5739BD"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!-- navbar -->

  <nav class="navbar navbar-expand-md justify-content-center fixed-top" id="nav-main">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center text-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#home">HOME</a>
        <a class="nav-item nav-link" href="#about">ABOUT ME</a>
        <a class="nav-item nav-link" href="#portfolio">PORTFOLIO</a>
        <a class="nav-item nav-link" href="#contact">CONTACT</a>
      </div>
    </div>
  </nav>


  <!-- home page -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center" id="home">
        <h1>ED WALKER</h1>
        <h1 id="blur-line">FULL STACK WEB DEVELOPER</h1>
        <h1 id="arrow" class="bounce"><a href="#about"><i class="far fa-arrow-alt-circle-down"></i></a></h1>
      </div>
    </div>
  </div>

  <!-- about div -->
  <div class="container-fluid">
    <div class="row">
      <section class="col-md-12 text-center" id="about">
        <h2>ABOUT ME</h2>
        <p>Full stack web developer, based in York, with experience in both front-end and back-end technologies. I enjoy producing attractive, professional and fully mobile responsive websites and applications for clients.</p>
      </section>
    </div>
  </div>

  <!-- key skills div -->
  <section class="container-fluid key-skills">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>MY KEY SKILLS</h2>
      </div>
    </div>

    <div class="row skills-grid">
      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div tech-icon-div ">
          <i class="devicon-html5-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>HTML 5</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-css3-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>CSS 3</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-javascript-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>JAVASCRIPT</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-python-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>PYTHON</h3>
        </div>  
      </div>
    </div>

    <div class="row skills-grid">

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-php-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>PHP</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-jquery-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>JQUERY</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-bootstrap-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>BOOTSTRAP</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-html5-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>FLEXBOX</h3>
        </div>  
      </div>

    </div>

    <div class="row skills-grid">

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-wordpress-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>WORDPRESS</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-vuejs-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>VUE.JS</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-angularjs-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>ANGULAR.JS</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-django-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>DJANGO</h3>
        </div>  
      </div>
      
    </div>

    <div class="row skills-grid">

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-mysql-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>MYSQL</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-mongodb-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>MONGODB</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-python-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>FLASK</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-javascript-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>CROSSFILTER.JS</h3>
        </div>  
      </div>
      
    </div>
    
    <div class="row skills-grid">
        
      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-javascript-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>DC.JS</h3>
        </div>  
      </div>
      
      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-d3js-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>D3.JS</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-git-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>GIT</h3>
        </div>  
      </div>

      <div class="col-3 tech-div">
        <div class="col-12 text-center tech-icon-div ">
          <i class="devicon-sass-plain devicon"></i>
        </div>  
        <div class="col-12 tech-text-div">
          <h3>SASS</h3>
        </div>  
      </div>
    </div>
  </section>

  <div class="clearfix"></div>

  <!-- portfolio -->

  <section class="container-fluid text-center" id="portfolio">
    <div class="row">
      <div class="col-md-12 text-center portfolio-header">
        <h2>PORTFOLIO</h2>
      </div>
    </div>

    <div v-for="(project, index) in projects">
      
      <!-- alternating layouts - first layout -->
      <template v-if="index % 2 === 0">
        <div class="row project align-items-center" v-bind:id="'project' + (index+1)">
          <img class ="project-background" v-bind:src="project.backgroundImage" alt="" loading="lazy">
            <div class="col-12 col-md-7 order-md-2">
              <a v-bind:href="project.siteURL" target="_blank">
                <img v-bind:src="project.projectImage" class="portfolio-img" v-bind:alt="project.imgAlt" loading="lazy">
              </a>
            </div>  
            <div class="col-12 col-md-5 pl-md-4 pr-md-4 order-md-1 project-text"> 
              <a v-bind:href="project.siteURL" target="_blank"><h2 class="project-title">{{project.title}}</h2></a>
              <h4>{{project.description}}</h4>
            </div>        
          </div>
      </template>

      <!-- alternating layouts - second layout -->
      <template v-else>
        <div class="row project align-items-center" v-bind:id="'project' + (index+1)">
          <img class ="project-background" v-bind:src="project.backgroundImage" alt="" loading="lazy">
          <div class="col-12 col-md-7">
            <a v-bind:href="project.siteURL" target="_blank">
              <img v-bind:src="project.projectImage" class="portfolio-img" v-bind:alt="project.imgAlt" loading="lazy">
            </a>
          </div>  
          <div class="col-12 col-md-5 pl-md-4 pr-md-4 project-text">
            <a v-bind:href="project.siteURL" target="_blank"><h2 class="project-title">{{project.title}}</h2></a>
            <h4>{{project.description}}</h4>
          </div>        
        </div>
      </template>
    </div>

  </section>

  <!-- contact -->

  <section class="container-fluid text-center" id="contact">
    <div class="row">
      <div class="col-12">
        <h2>CONTACT</h2>
        <h5>I'd love to hear from you, feel free to contact me by any of the means below</h5>
        <h5>Tel: 07967457677</h5>

        <div class="col-12 col-md-6 offset-md-3 pt-4 text-left contact-form">

          <!-- contact form -->
          <form id="myform"  method="POST" action="https://formspree.io/ed.walker@hotmail.co.uk">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name" name="name" required/>
            </div>

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Email" name="email" required />
            </div>

            <div class="form-group">
              <label>Your Message</label>
              <textarea class="form-control" id="message" placeholder="Message" name="message" required></textarea>
            </div>

            <div class="col-12 mt-4 text-center">
              <button class="btn">
                Send
              </button>
            </div>
          </form>

          <!-- end of contact form -->

        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 contact-icon-div">
        <a href="https://github.com/ed85w" class="github-link" target="_blank">
          <i class="devicon-github-plain devicon"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="bootstrap4/popper.min.js"></script>
  <script src="bootstrap4/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <script src='script.js'></script>

</body>
</html>
