/*whole of page settings*/

body {
  margin: 0;
  font-family: 'Mukta Malar', sans-serif;
  position: relative;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

h2 {
  margin-top: 0;
  padding:  30px 0;
  font-size: 30px;
}

h3 {
  font-size: 11px;
}

/* no underline on link hover */
a:hover{
  text-decoration: none;
}

/*end of whole of page settings*/

/* navbar */

/* burger icon */
.navbar-toggler span {
  display: block;
  width: 25px;
  height: 2px;
  background: white;
  margin-top: 4px;
}

.navbar-toggler {
  padding-top: 14px;
  padding-bottom: 16px;
}

.navbar-toggler:active,
.navbar-toggler:focus{
  outline: none;
}

/* end of burger */
#nav-main {
  background: #020f16;
  padding: 0;
  font-size: 17px;
}

.navbar-expand-md a.nav-item.nav-link {
  color: white;
  padding: 25px 15px;
  line-height: 20px;
}

.navbar-expand-md a.nav-item.nav-link:hover,
.navbar-expand-md a.nav-item.nav-link:active {
  color: #7f7777;
}

/*home page*/

#home {
  background-image: url(img/space.jpeg);
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  background-position: center;
  background-size: cover;
  -o-background-size: cover;
}

#home h1 {
  font-size: 40px;
  color: white;
  position: relative;
  top:30%;
  transform: translate(0, -50%);
}

#blur-line {
  margin-top: 20px;
}

/*animation for full stack web developer text*/
@keyframes unblur {
    0% {
      opacity: 0;
      text-shadow: 0 0 8px white;
    }
    33% {
      opacity: 0.33;
      text-shadow: 0 0 6px white;

    }
    66% {
      opacity: 0.66;
      text-shadow: 0 0 2px white;

    }
    100% {
      opacity: 1;
      text-shadow: 0 0 0;
    }
}

@-webkit-keyframes unblur {
    0% {
      opacity: 0;
      text-shadow: 0 0 8px white;
    }
    33% {
      opacity: 0.33;
      text-shadow: 0 0 6px white;

    }
    66% {
      opacity: 0.66;
      text-shadow: 0 0 2px white;

    }
    100% {
      opacity: 1;
      text-shadow: 0 0 0;
    }
}

#blur-line {
  opacity: 0;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  transform: translate3d(0, 0, 0);

  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: translate3d(0, 0, 0);
}

.unblur{
  animation-name: unblur;
  -webkit-animation-name: unblur;
}

/* arrow */
#arrow {
  margin-top: 35px;
}

#arrow a {
  color: white;
}

#arrow a i {
  opacity: 0;
}

/* slide in down animation */

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -400%, 0);
    transform: translate3d(0, -400%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* bounce animation for arrow*/
@-webkit-keyframes bounce {
  from,
  5%,
  13%,
  20%,
  27%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  11% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  17% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  22% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  5%,
  13%,
  20%,
  27%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  11% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  17% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  22% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;

}

/*about*/

#about {
  background-color: #102633;
  position: relative;
  color: white;
}

#about p {
  padding-bottom: 30px;
}


/*skills*/

.key-skills {
  color: #102633;
  padding-bottom: 30px;
}

.skills-grid {
  padding-bottom: 20px;
}

.tech-div {
  padding: 5px 0 0 0;
  opacity: 0;
}


@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

.tech-icon-div {
  padding: 0 5px;  
}

.tech-text-div {
  height: 53px;
  padding: 0 5px;
  text-align: center;
}

.tech-div h3 {
  margin: 0;
  position: relative;
  top:48%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

/*tech icons*/
.devicon {
  font-size:  50px;
}


/*portfolio*/

.portfolio-header {
  background-color: #102633;
  color: white;
}

#portfolio div div h2 {
  margin-bottom: 0;
}

#portfolio div div h2:hover {
  color: #363434;
}

/* set up so that first 2 projects can 'zoom in' to view on scroll */
#project1,
#project2 { /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.project {
  height: 550px;
  width: 100%;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
}

.project-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  opacity: 0.5;
}

.project-text {
  padding-left: 15px;
  padding-right: 15px;
}


.project-text h2 {
  text-align: left;
  padding-top: 40px;
  color: black;
}

.project-text h4 {
  font-size: 18px;
  text-align: left;
  line-height: inherit;
  color: black;
}

.portfolio-img {
  max-width: 100%;
  max-height: 335px;
}


/*contact*/

#contact {
  /*height: 600px;*/
  background-color:#102633;
  color: white;
}

.contact-form-div {
  font-weight: 100;
  padding: 0 30px;
}

.btn {
  background-color: white;
  color: #102633;
}

.btn:hover {
  background-color: #7f7777;
  color: white;
}

.contact-icon-div {
  padding: 30px 0; 
}

a.github-link{
  color: white;
}

a.github-link:hover i,
a.github-link:hover h3{
  color: #7f7777;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){

  h2 {
    padding:  20px 0;
  }

  h3 {
    font-size: 11px;
  }

  /*home page*/
  #home {
    margin-top: 70px;
  }

  #home h1 {
    font-size: 50px;
    color: white;
    position: relative;
    top:30%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  /*about page*/

  #about p {
    padding: 10px 30px 40px 30px;
  }

  .key-skills {
    padding-left: 0;
  }

  .tech-text-div {
    height: 20px;
    text-align: center;
  }

  /*portfolio*/

  .project {
    height: 400px;
  }

  .project-text h2 {
    padding-top: 0px;
  }

  .portfolio-img {
    max-height: 450px;
  }

  /*contact*/

  .alt-contact-div {
    height:180px;
  }

  .contact-text-div {
    padding-left: 10px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  h2 {
    /* font-size: 30px; */
  }

  /*about*/

  #about p {
    padding: 0 100px 40px 100px;
  }

  .key-skills {
    padding-left: 0;
  }

  .tech-text-div {
    text-align: center;
  }

  /*portfolio */
  .project {
    height: 550px;
  }

  .project-text {
    padding-left: 10px;
    padding-right: 10px;
  }

}

